.wrapper {
  display: flex;
  align-items: center;
}

.communityImg {
  border-radius: 30px;
  border: 2px solid var(--sidebar-bg);
  transition: width 0.9s, height 0.9s;
}

.imgGap {
  margin-left: -12px;
  border: 2px solid var(--sidebar-bg);
}

.imgGapFirstItem {
  margin-right: -18px;
}

@keyframes hideElement {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.hidden {
  animation: hideElement 1s;
}

@keyframes showElement {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.shown {
  animation: showElement 1s;
}