.point {
  width: 6px;
  height: 6px;
  left: calc(50% - 3px);
  top: calc(50% - 3px);

  cursor: pointer;
  z-index: 1000;
  position:relative;

  border-radius: 56px;
  background: #42567A;
  //transition: width 0.8s, height 0.8s, left 0.8s, top 0.8s, background 0.8s;
  transition: width 0.2s, height 0.2s, left 0.2s, top 0.2s, background 0.2s;

  &:hover {
    width: 56px;
    height: 56px;
    left: calc(50% - 28px);
    top: calc(50% - 28px);

    border: 1px solid #42567A;
    background: #fff;

    .number {
      opacity: 1;
    }
  }
}

.increase {
  width: 6px;
  height: 6px;
  animation: pointIncreaseAnimation 0.9s ease;

  .number {
    opacity: 0;
    animation: opacityIncreaseAnimation 0.9s ease;
  }

  .title {
    opacity: 0;
    animation: titleIncreaseAnimation 0.9s ease;
  }
}
@keyframes pointIncreaseAnimation {
  to {
    width: 56px;
    height: 56px;
    left: calc(50% - 28px);
    top: calc(50% - 28px);
    border: 1px solid #42567a;
    background: #fff;
  }
}
@keyframes opacityIncreaseAnimation {
  to {
    opacity: 1;
  }
}
@keyframes titleIncreaseAnimation {
  to {
    opacity: 1;
    left: 60px;
  }
}


.decrease {
  width: 56px;
  height: 56px;
  left: calc(50% - 28px);
  top: calc(50% - 28px);
  border: 1px solid #42567a;

  animation: pointDecreaseAnimation 0.9s ease;

  .number {
    opacity: 1;
    animation: opacityDecreaseAnimation 0.9s ease;
  }

  .title {
    opacity: 1;
    left: 60px;
    animation: titleDecreaseAnimation 0.9s ease;
  }
}
@keyframes pointDecreaseAnimation {
  to {
    width: 6px;
    height: 6px;
    left: calc(50% - 2px);
    top: calc(50% - 2px);

    border: 1px solid #42567a;
    background: #fff;
  }
}
@keyframes opacityDecreaseAnimation {
  to {
    opacity: 0;
  }
}
@keyframes titleDecreaseAnimation {
  to {
    opacity: 0;
    left: 40px;
  }
}


.activePoint {
  width: 56px;
  height: 56px;
  left: calc(50% - 28px);
  top: calc(50% - 28px);
  border: 1px solid #42567a;
  background: #fff;

  .number {
    opacity: 1;
  }

  .title {
    opacity: 1;
  }
}

.number {
  z-index: 1000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #42567A;
  user-select: none;
  opacity: 0;
  font-size: 20px;

  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;

  //transition: opacity 0.8s;
  transition: opacity 0.2s;

  &_visible {
    opacity: 1;
  }
}

.pointContainer {
  position: absolute;
}

.circle {
  position: relative;
  border: 1px solid #fff;
  border-radius: 50%;

  //top: 100px;
  //left: 50px;
  box-sizing: border-box;
}


.horizontalLine,
.verticalLine {
  position: absolute;
  background-color: #fff;
}

.horizontalLine {
  height: 1px;
  top: calc(50% - 0px);
}

.verticalLine {
  width: 1px;
  left: calc(50% + 0px);
}

.point:hover {
  .horizontalLine {
    width: 0;
    background: #fff;
  }

  .verticalLine {
    height: 0;
    background: #fff;
  }

  .number {
    opacity: 1;
  }
}

.title {
  position: relative;
  left: 60px;
  bottom: 10px;
  height: 100%;
  display: flex;
  align-items: center;

  opacity: 0;
  transition: opacity 0.2s;
}
