.actions {
    gap: 14px;
    margin: 0 0 16px 0;
}

.title {
    margin: 0 0 14px 20px;
}

.SidebarRevamped {
    background: var(--sidebar-bg);
    width: var(--sidebar-revamp-width);
    height: 100%;
    position: relative;
    padding: 16px 19px 0 0px;

    .input {
        width: 250px;
        padding-left: 25%;
        margin: 0 0 30px 20px;
        height: 50px;

        &:focus-within {
            padding-left: 3%;
        }
    }

    .createButtonContainer {
        margin: 20px 20px 0 20px;
    }

    .createButton {
        justify-content: center;
        align-items: center;
    }

    .collapseBtn {
        position: absolute;
        right: 0;
        top: 50%;
        z-index: 10;
        transform: rotate(90deg);
    }

    .switchers {
        position: absolute;
        bottom: 60px;
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 16px;
    }

    .bottom {
        position: absolute;
        bottom: 0;
        padding: 0 20px 10px 20px;
        display: flex;
        width: 100%;
    }
}

.collapsedRevamped {
    width: 110px;

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .items {
        display: flex;
        align-items: center;
    }

    .lang {
        margin-left: 0;
    }

    .collapseBtn {
        transform: rotate(-90deg);
    }

    .switchers {
        flex-direction: column;
        align-items: center;
    }
}