.wrapper {
  width: 100%;
  height: 100%;
}

.container {
}

.slidesBlock {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.academyIcon {
  transform: rotate(90deg);
}

.swiperSlide {
  //height: 52rem;
  position: relative;

  //height: 790px !important;
  height: calc(100vh - 110px) !important;
  width: 375px !important;
  background: var(--dark-bg-redesigned);
  border-radius: 20px;
  object-fit: cover !important;

  .title {
    height: 0;
    position: relative;
    bottom: 50px;
    z-index: 4;
    user-select: none;

    display: flex;
    justify-content: center;
  }

  .titleStab {
    position: relative;
    bottom: 150px;
    z-index: 4;
    user-select: none;

    width: 100%;
    display: flex;
    align-items: center;
  }

  .imgStab {
    height: 790px;
    width: 375px;
    z-index: 100;
  }

  .bottomGradient {
    height: 270px;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);

    position: relative;
    top: -270px;
  }

  img {
    height: calc(100vh - 110px) !important;
    width: 375px !important;
    border-radius: 20px;

    object-fit: cover;
    pointer-events: none;
    user-select: none;
  }
}

.swiperButtonPrev {

}


.sliderControllerWrapper {
  position: absolute;
  width: 100%;
}

.sliderControllerLayout {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 100;
  position: absolute;
  top: 170px;
  left: 20px;
}

@media (min-width: 1921px) {
  .swiperSlide {
    height: calc(80vh - 110px) !important;

    img {
      height: calc(80vh - 110px) !important;
    }
  }
}