.wrapper {
  height: 100vh;
  border-left: 1px solid #d0d5e0;
  border-right: 1px solid #d0d5e0;
}

.buttons {
  height: 0;
}

.border {
  border: 1px solid red;
}

.linesWrapper {
  position: relative;
}

.horizontalLine {
  position: absolute;
  background-color: #d0d5e0;
}

.horizontalLine {
  height: 1px;
  top: 265px;
  left: calc((-100vw + 1200px)/2 );
  width: 100vw;
}
@media (max-width: 1200px) {
  .horizontalLine {
    left: 0;
  }
}