.slider {
  position: absolute;
  display: flex;

  .slide{
    width: 293px;
    height: 222px;
    &:not(:first-child){
      margin-left: 12px;
    }
    .preview{
      height: 100%;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}



