.app_dark_theme {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;

    // redesigned
    --dark-bg-redesigned: #090F11;
    --bg-redesigned: #0C1214;
    --light-bg-redesigned: #151C1F;
    --text-redesigned: #DBDBDB;
    --hint-redesigned: #555555;
    --cancel-redesigned: #D95757;
    --save-redesigned: #6CD98B;
    --icon-redesigned: #74A2B2;
    --accent-redesigned: #5ED3F3;

    // revamped
    --bg-revamped: #000;
    --light-bg-revamped: #151C1F;
    --sidebar-bg: #000;
    --sidebar-bg-accent: rgba(255, 255, 255, 0.10);
    --sidebar-bg-linear: linear-gradient(197deg, #FF583D 0%, #000 100%);
    --sidebar-bg-linear2: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,0,1));
    --swipe-bg: linear-gradient(186deg, #EF7E3C 0%, #F5B048 69.72%, #F7C64D 100%);
    --text-revamped: #ffffff;
    --text-revampedRGB: 255, 255, 255;
    --minor-white: rgba(242, 241, 243, 0.50);
    --hint-revamped: #555555;
    --icon-revamped: #bbb;
    --icon-revamped-active: #fff;
    --accent-revamped: #8D5DDA;
    --applink: #D9FEE5;
    --watchers-count: #EF7B3C;
    --icon-toolbar: #fff;
    --banner-earnings: #8D5DDA;

    // buttons
    --button-dark: rgba(242, 241, 243, 0.10);
    --button-dark-text: rgba(256, 256, 256, 1);
    --button-dark-text-hover: #D9FEE5;
    --button-light: #fff;
    --button-light-text: rgba(0, 0, 0, 1);
    --button-light-text-hover: #002200;

    --button-dark-hover: rgba(242, 241, 243, 0.2);
    --button-light-hover: rgba(255, 255, 255, 0.9);

    // scrollbar
    --scroll-thumb: #6fd964;
    --scroll-thumb-padding: #95d68d;

    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    // code
    --code-bg: #1212a1;

    // card
    --card-bg: #0d0d6b;

    // listbox
    --listbox-bg: #0d0d6b;

    // text
    --primary-text: #000;
    --black: #000;
    --white: #FFF;
}
