:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;
    --primary-color: #0232c2;
    --secondary-color: #0449e0;
    --inverted-primary-color: #04ff04;
    --inverted-secondary-color: #049604;

    // redesigned
    --dark-bg-redesigned: #FFFFFF;
    --bg-redesigned: #EFF5F6;
    --light-bg-redesigned: #E2EEF1;
    --text-redesigned: #141C1F;
    --hint-redesigned: #ADBCC0;
    --cancel-redesigned: #FF7777;
    --save-redesigned: #62DE85;
    --icon-redesigned: #5ED3F3;
    --accent-redesigned: #00C8FF;

    // revamped
    --bg-revamped: #000;
    --light-bg-revamped: #E2EEF1;
    --sidebar-bg: #E2EEF1;
    --sidebar-bg-accent: rgba(174, 153, 210, 0.3);
    --sidebar-bg-linear: linear-gradient(197deg, #FF583D 0%, #E2EEF1 100%);
    --sidebar-bg-linear2: linear-gradient(to bottom, rgba(255,255,255,0), rgba(226,238,241,1));
    --text-revamped: #000;
    --text-revampedRGB: 0, 0, 0;
    --minor-white: rgba(13, 14, 12, 0.50);
    --hint-revamped: #bbb;
    --icon-revamped: #8D5DDA;
    --accent-revamped: #8D5DDA;
    --applink: #002200;
    --watchers-count: #EF7B3C;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #d5d5d7;

    // listbox
    --listbox-bg: #d5d5d7;

    // text
    --primary-text: #FFF;
    --black: #000;
    --white: #FFF;
}
