.app_orange_theme {
    --bg-color: #faf4fb;
    --inverted-bg-color: #bd5012;
    --primary-color: #9a1a0e;
    --secondary-color: #d01f0e;
    --inverted-primary-color: #dbd5dc;
    --inverted-secondary-color: #faf4fb;

    // redesigned
    --dark-bg-redesigned: #FFF3D6;
    --bg-redesigned: #F0C048;
    --light-bg-redesigned: #F2D791;
    --text-redesigned: #1B1311;
    --hint-redesigned: #B8B2A2;
    --cancel-redesigned: #FF5E5E;
    --save-redesigned: #52FA81;
    --icon-redesigned: #4875F0;
    --accent-redesigned: #1D59FF;

    // revamped
    --bg-revamped: #513612;
    --light-bg-revamped: #F2D791;
    --sidebar-bg: #F2D791;
    --sidebar-bg-accent: rgba(174, 153, 210, 0.2);
    --sidebar-bg-linear: linear-gradient(197deg, #FF583D 0%, #F2D791 100%);
    --sidebar-bg-linear2: linear-gradient(to bottom, rgba(255,255,255,0), rgba(242,215,145,1));
    --swipe-bg: linear-gradient(197deg, #EF923C 0%, #F2D791 100%);
    --text-revamped: #004;
    --text-revampedRGB: 0, 0, 0;
    --minor-white: rgba(13, 14, 12, 0.50);
    --normal-text: #000;
    --inverse-text: #fff;
    --purple-text: #000;
    --hint-revamped: #bbb;
    --icon-revamped: #8D5DDA;
    --accent-revamped: #1D59FF;
    --applink: #002200;
    --watchers-count: #EF7B3C;
    --icon-toolbar: #000;
    --banner-earnings: linear-gradient(224deg, rgb(181, 137, 217) 0%, rgb(164, 86, 227) 100%);

    // history theme
    --history-theme-dark1: #42567a;
    --history-theme-dark07: #6f798b;
    --history-theme-dark05: #9ba5ba;
    --history-theme-dark03: #c7cdd9;
    --spec-theme-bg: linear-gradient(186deg, #f0f4f7 0%, #f1f3f1 69.72%);
    //--spec-theme-bg2: linear-gradient(186deg, #fff 0%, #f1f3f1 69.72%);
    --spec-theme-bg2: #f4f5f9;

    --history-theme-dark: #152A4F;
    --history-text-color: var(--history-theme-dark);
    --history-theme-interval-text-left: #837dd8;
    --history-theme-interval-text-right: #f07ca3;
    --history-theme-pretitle: linear-gradient(186deg, #837dd8 0%, #f07ca3 100%);

    // buttons
    --button-dark: rgba(48, 48, 48, 0.10);
    --button-dark-text: rgba(256, 256, 256, 1);
    --button-dark-text-hover: #D9FEE5;
    --button-light: #fff;
    --button-light-text: rgba(0, 0, 0, 1);
    --button-light-text-hover: #002200;

    --button-dark-hover: rgba(48, 48, 48, 0.2);
    --button-light-hover: rgba(249, 249, 249, 0.95);

    // scrollbar
    --scroll-thumb: #fc8c60;
    --scroll-thumb-padding: #f6ca92;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #d5d5d7;

    // listbox
    --listbox-bg: #d5d5d7;

    // text
    --primary-text: orange;
    --black: #000;
    --white: #FFF;
}
