.MainLayout {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
            'sidebar content rightbar';
  grid-template-columns: min-content 1fr 100px;
}
.layoutWithToolbar {
  grid-template-columns: min-content 1fr;
}


.sidebar {
  grid-area: sidebar;
  padding: 32px;
  max-width: 284px;
}
.sidebarRevamp {
  grid-area: sidebar;
  max-width: 290px;
}

.contentWrapper {
  width: 100%;
  overflow: hidden;
}
.fullWidthBg {
  background: var(--swipe-bg);
}

.forelock {
  width: -webkit-fill-available;
  height: 400px;
  position: absolute;
  z-index: 1;
  opacity: 0.6;
  background-image: var(--sidebar-bg-linear);
}
.forelock2 {
  width: -webkit-fill-available;
  height: 400px;
  position: absolute;
  z-index: 1;
  background-image: var(--sidebar-bg-linear2);
}
.content {
  position: relative;
  grid-area: content;
  max-width: 1200px;
  justify-self: center;
  padding: 32px;
  width: 100%;
  z-index: 10;

  margin-left: auto;
  margin-right: auto;
}

.contentRevamp {
  position: relative;
  grid-area: content;
  max-width: 1200px;
  justify-self: center;
  padding: 18px 32px;
  z-index: 10;

  margin-left: auto;
  margin-right: auto;
}

.contentFullWidth {
  position: relative;
  grid-area: content;
  max-width: 1200px;
  justify-self: center;
  padding: 18px 0;
  width: calc(960px + 32px + 32px);
  height: 100%;
  z-index: 10;

  margin-left: auto;
  margin-right: auto;
}

.sidebarCollapsed {
  width: calc(100vw - 110px);
}

.sidebarOpen {
  width: calc(100vw - 290px);
}

.rightbar {
  grid-area: rightbar;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rightbar,
.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
}
.sidebarRevamp {
  position: sticky;
  top: 0;
  height: 100vh;
  z-index: 10;
}

.toolbar {
  height: 100%;
  width: 100%;
}
