.Carousel {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.skeleton {
  width: 240px;

  &__title {
    margin-bottom: 20px;
  }
}

.fullWidth {
  width: 100%;
}

.container {
  overflow: hidden;
}
.swiperSlide {
  max-width: calc(100%);
  min-height: 158px;
}

.slideContent {}