.container {
  //display: initial !important;
}

.swiperReact {
  //width: 100px;
  //height: 100px;
}

.swiperSlide {
  //width: 20px !important;
}

.communityImg {
  width: 30px !important;
  height: 30px !important;

  border-radius: 30px;
  border: 2px solid var(--sidebar-bg);
}