.swiper-wrapper {
    /*display: initial !important;*/
}

.swiper {
    /*overflow: initial !important;*/
}

.slider-controler {
    width: 68px;
    height: 68px;
    border-radius: 68px;
    background:  rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
}

.swiper-wrapper > :not(.swiper-slide-visible) {
    background-color: lightgray !important;
    background: lightgray !important;
}

.swiper-wrapper > .swiper-slide-prev {
    background-color: lightgray !important;
    background: lightgray !important;
}