.card {
    position: relative;
    padding: 0;
}

.cardBackGradient {
    width: 100%;
    height: 89px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
    position: absolute;
    bottom: 0;
    border-radius: 0 0 16px 16px;
}

.cardInner {
    height: 100%;
    padding: 10px;
}

.header {
    width: 100%;
}

.earnButton {
    background: #EF7B3C;
    display: flex;
    gap: 3px;
}

.academyIcon {
    width: 30px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(20px);
}

.bottomGradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
}

.bottom {
    white-space: pre-wrap;
    z-index: 4;
}
